// REGOLE GENERALI:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;

}

img {
    max-width: 100%;
}

// LAYOUT:
.container {
    max-width: 95%;
    margin: 0 50px;
    // debug
    // border: 1px solid white;
}